@import "./gray.min.css";
@import "./lime.min.css";
@import "./sizes.min.css";
@import "./borders.min.css";

@layer global, page, component;

@layer global {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
    }

    :root {
        --bg: var(--gray-12);
        --surface: var(--gray-10);
        --border: var(--gray-8);
    }
}

@layer page {
    .New {
        margin-block: var(--size-5);
        display: grid;
        gap: var(--size-3);
        h1 {
            position: sticky;
            top: 0;
            background-color: var(--bg);
            padding-block: var(--size-2);
        }
        section {
            display: grid;
            gap: var(--size-3);
            color: var(--gray-1);
            background-color: var(--surface);
            border: var(--border-size-1) solid
                var(--border);
            border-radius: var(--radius-1);
            padding: var(--size-2);
            padding-block: var(--size-3);
        }
        label {
            display: block;
            color: var(--gray-5);
            margin-block-end: var(--size-1);
        }
        input,
        select {
            background-color: inherit;
            color: inherit;
            font: inherit;
            width: 100%;
        }
        button,
        select,
        input {
            padding-block: var(--size-2);
            padding-inline: var(--size-1);
        }

        input, select {
            border: var(--border-size-1) solid
                var(--border);
        }
    }
}

h1 {
    color: var(--lime-6);
}

body {
    background-color: var(--bg);
    color: var(--gray-6);
    font-family: system-ui;
    min-height: 100vh;
    margin: 0;
}

button {
    background-color: var(--gray-9);
    border: none;
    color: inherit;
    font: inherit;
}

main {
    margin-inline: var(--size-2);
}

#control {
    margin: 0.25rem;
}

.col-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.index {
    height: 90vh;
    display: grid;
    gap: var(--size-2);
    grid-template-rows: auto 1fr 1fr;
}
